.menubutton{
display: block; 
		width: 100%;
		min-width: 100%;
		margin-left: auto;  
		margin-right: auto;
		}
		
img.center 
{   
display: block;   
margin-left: auto;  
 margin-right: auto; 
}

h1.center
{   
display: block;   
margin-left: auto;  
 margin-right: auto; 
}

tr.center
{   
display: block;   
margin-left: auto;  
 margin-right: auto; 
}

#imgCompass{
	
}